@model CompileError.Models.SupplierViewModel

@{ 
    Layout = "~/Views/Shared/_KLayout.cshtml";
    ViewBag.Title = "Delete Supplier";

}

@section MyCSS
        {
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 6px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .input-validation-error {
            border: 1px solid red;
        }

        .field-validation-error {
            color: red;
        }

        .field-validation-valid {
            display: none;
        }
    </style>
}

    <div>
        <form  method="post">

            <table>

                <b>Search By: </b>
                @Html.RadioButton("searchBy", "General", true)
                <text> General</text>

                @Html.RadioButton("searchBy", "Name")
                <text> Name </text>

                @Html.RadioButton("searchBy", "Code")
                <text> Code </text>
                <br />

                @Html.TextBox("Search")
                <input type="submit" value="Search" />


            </table>
        </form>
        @{Html.RenderPartial("~/Views/Shared/Supplier/_SuppliersDetails.cshtml", Model);

        }

    </div>
    
